.*
!/.gitignore
**/__pycache__/
*.tmp
checkpoints/
datasets/head2headDataset/dataset
datasets/head2headDataset/original_videos
datasets/head2headDatasetv2/dataset
datasets/head2headDatasetv2/original_videos
datasets/faceforensicspp/
datasets/dvp/
models/flownet2_pytorch/*.tar
preprocessing/models/
preprocessing/files/
results/
results_demo/
scripts/test/test_finetuned_self_reenactment_on_target_numseq.sh
scripts/test/test_self_reenactment_on_target_numseq.sh
scripts/test/test_no*
scripts/test/test_landmarks*
scripts/train/finetune_on_target_numseq.sh
scripts/train/train_on_target_numseq.sh
scripts/train/train_landmarks*
scripts/train/train_no*
