.*
!/.gitignore
**/__pycache__/
checkpoints/
datasets/head2headDataset/dataset
datasets/head2headDataset/original_videos
datasets/head2headDataset2/*
models/flownet2_pytorch/*.tar
results/
videos/*.mp4
preprocessing/models/
preprocessing/files/
